.header {
	height: 100px;
	background: linear-gradient(to right, #141e30, #243b55);
	margin-top: 0px;
}
.title {
	padding-top: 20px;
	margin-top: 7px;
	margin-left: 17px;
	color: #ebedec;
	font-size: 2rem;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-shadow: 5px 5px 2px rgb(41, 41, 41);
	float: left;
}

.avatar {
	float: right;
}

.avatar-img {
	margin-top: 20px;
	margin-right: 17px;
}
